body {
    margin: 0;
    background-color: #1e272e;
    font-family: system-ui;
    color: rgb(236, 232, 232);
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 75vmin;
    height: 75vmin;
    border-style: solid;
    border-width: 10px;
    border-radius: 5px;
    border-color: #808e9b;
    display: grid;
    /* grid-template-columns: 150px 150px;
    grid-template-rows: 75px 150px; */
    /* gap: 15px; */
    /* grid-template: 150px 300px / 300px 300px;
    grid-auto-rows: 300px; */
    grid-template: 1fr 1fr / 1fr 1fr;
}

.container > *{
    padding: 10px;
    /* border-radius: 5px; */
}

.name {
    text-align: center;
    margin: 0;
}

.name > h4 {
    color: #808e9b;
    font-size: 4vmin;
}

.name > h1 {
    font-size: 5vmin;
    white-space: nowrap;
}

#dot {
    color: #f53b57;
}

.alt {
    margin: 0px;
    background-color: #d2dae2;
    color: #1e272e;
}

#logobox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grow { 
    transition: all .2s ease-in-out; 
}
    
.grow:hover { 
    transform: scale(1.1); 
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}

nav > a {
    background-color: #1e272e;
    color: white;
    border-width: 0px;
    font-weight: bold;
    font-size: 4vmin;
}

.slide {
    transition: all .2s ease-in-out;
}

.slide:hover {
    transform: translate(-25px);
}
